@import url('https://fonts.cdnfonts.com/css/pistoleer');
@import url('https://fonts.cdnfonts.com/css/space-ranger');

* {
	margin: 0;
	padding: 0;
}

:root {
	--main-background-color: #dedede;
	--main-color: #333;
}

body {
	background-color: var(--main-background-color);
	color: var(--main-color);
	font-family: 'Pistoleer', sans-serif;
}

.container {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
}

nav {
	background-color: #b9beb7;
}

nav .container {
	display: flex;
	justify-content: space-between;
	height: 80px;
}

nav h1 {
	font-size: 3em;
	line-height: 80px;
}

nav ul {
	width: 30vw;
	display: flex;
	justify-content: space-evenly;
	line-height: 80px;
	font-size: 25px;
}

nav ul li {
	list-style: none;
	/* color: green; */
}


nav ul li a {
	text-decoration: none;
	color: var(--main-color);
	transition: all ease .3s;
}

nav ul li a:hover {
	color: var(--main-color);
	opacity: .6;
}

h2 {
	/* font-family: 'Pistoleer', sans-serif; */
	margin-top: 100px;
	font-size: 100px;
	text-align: center;
}

.intro {
	font-size: 30px;
	margin-top: 50px;
	margin-left: 20px;
	text-align: center;
}

.intro::first-letter {
	font-size: 50px;
}

.checkout {
	margin-top: 30px;
	text-align: center;
	position: relative;
}

.checkout a,
.home a {
	text-decoration: none;
	font-family: 'Pistoleer', sans-serif;
	font-size: 50px;
	color: #333;
	transition: all .3s ease-in-out;
}

.home {
	text-align: center;
	margin: 50px;
}

.config-file::after {
	content: '';
	width: 0px;
	height: 4px;
	display: inline-block;
	background-color: #826a6a;
	position: absolute;
	top: 55px;
	left: 50%;
	transform: translateX(-50%);
	transition: all .3s ease-in-out;
}

.home a:hover {
	color: #826a6a
}

.config-file:hover::after {
	width: 222px;
}

.config-info h3 {
	font-size: 30px;
	margin-top: 50px;
	font-style: italic;
}

.config-info h3::before {
	content: '>>';
	display: inline-block;
	width: 50px;
	height: 10px;
	line-height: 30px;
	margin-bottom: 30px;
}

.config-info h3:hover {
	color: green;
}

.config-info ul {
	font-family: 'Space Ranger', sans-serif;
	letter-spacing: 3px;
}

.config-info li {
	margin-left: 60px;
	font-size: 1.5em;
}

.config-info .desc {
	margin-left: 100px;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 20px;
}

.aboutdesc {
	margin-top: 50px;
	width: 70vw;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.7;
}

@media (max-width: 900px){
	.container {
		width: 95vw;
	}
}
